[submodule "vello"]
	path = vello
	url = https://github.com/wieslawsoltes/vello
[submodule "vello_svg"]
	path = vello_svg
	url = https://github.com/linebender/vello_svg.git
[submodule "velato"]
	path = velato
	url = https://github.com/linebender/velato
[submodule "wgpu"]
	path = wgpu
	url = https://github.com/gfx-rs/wgpu
[submodule "winit"]
	path = winit
	url = https://github.com/rust-windowing/winit
[submodule "kurbo"]
	path = kurbo
	url = https://github.com/linebender/kurbo
[submodule "peniko"]
	path = peniko
	url = https://github.com/linebender/peniko
[submodule "parley"]
	path = parley
	url = https://github.com/linebender/parley
