[submodule "extern/vello"]
	path = extern/vello
	url = https://github.com/wieslawsoltes/vello
[submodule "extern/vello_svg"]
	path = extern/vello_svg
	url = https://github.com/linebender/vello_svg.git
[submodule "extern/velato"]
	path = extern/velato
	url = https://github.com/linebender/velato
[submodule "extern/wgpu"]
	path = extern/wgpu
	url = https://github.com/gfx-rs/wgpu
[submodule "extern/winit"]
	path = extern/winit
	url = https://github.com/rust-windowing/winit
[submodule "extern/kurbo"]
	path = extern/kurbo
	url = https://github.com/linebender/kurbo
[submodule "extern/peniko"]
	path = extern/peniko
	url = https://github.com/linebender/peniko.git
[submodule "extern/parley"]
	path = extern/parley
	url = https://github.com/linebender/parley.git
[submodule "extern/fontations"]
	path = extern/fontations
	url = https://github.com/googlefonts/fontations.git
[submodule "extern/swash"]
	path = extern/swash
	url = https://github.com/dfrg/swash.git
[submodule "extern/harfbuzz_rs"]
	path = extern/harfbuzz_rs
	url = https://github.com/manuel-rhdt/harfbuzz_rs.git
[submodule "extern/Avalonia"]
	path = extern/Avalonia
	url = https://github.com/wieslawsoltes/Avalonia.git
[submodule "extern/SkiaSharp"]
	path = extern/SkiaSharp
	url = https://github.com/wieslawsoltes/SkiaSharp.git
[submodule "extern/accesskit"]
	path = extern/accesskit
	url = https://github.com/AccessKit/accesskit.git
[submodule "extern/xilem"]
	path = extern/xilem
	url = https://github.com/linebender/xilem.git
